<ion-header>
  <ion-navbar color="primary">
    <ion-title>Weight Loss</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img class="image" src="assets/imgs/weigh_loss.png">
  <ion-card class="list" (click)="goWorkoutList()">
      <ion-icon name="heart" class="heart"></ion-icon>
    <b>WORKOUT</b>
  </ion-card>
  <ion-card class="list" (click)="goZumbaList()">
      <ion-icon name="heart" class="heart"></ion-icon>
    <b>ZUMBA</b>
  </ion-card>
  <ion-card class="list" (click)="goFoodList()">
      <ion-icon name="heart" class="heart"></ion-icon>
    <b>FOOD</b>
  </ion-card>
  <ion-card class="list" (click)="goNoticeList()">
    <ion-icon name="heart" class="heart"></ion-icon>
    <b>DO AND DON'T</b>
  </ion-card>
</ion-content>
