<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gaining Weight Workout</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item (click)="goBenchPress()">
      <ion-avatar item-start>
        <img src="assets/imgs/Bench.jpg">
      </ion-avatar>
      <h2 >1 Bench Press</h2>
      <h3>4 sets and 10-12 reps</h3>
      <!-- <p>I've had a pretty messed up day. If we just...</p> -->
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Butterfly.jpg">
      </ion-avatar>
      <h2>2 The exercise machine Butterfly</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Dumbbell.jpg">
      </ion-avatar>
      <h2>3 Dumbbell extension lying at an angle</h2>
      <h3>4 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Wide.jpg">
      </ion-avatar>
      <h2>4 Wide grip pull-ups</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Bent.jpg">
      </ion-avatar>
      <h2>5 Bent Over Barbell Row</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/latissimus.jpg">
      </ion-avatar>
      <h2>6 The latissimus and trapezoidal muscles</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Hyperextension.jpg">
      </ion-avatar>
      <h2>7 Hyperextension</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>


    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Legraise.jpg">
      </ion-avatar>
      <h2>8 Leg raise on bars</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Adominal.jpg">
      </ion-avatar>
      <h2>9 Abdominal cruch</h2>
      <h3>3 sets and 12-16 reps</h3>
    </ion-item>


    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Scott.jpg">
      </ion-avatar>
      <h2>10 Scott's bench biceps bar raise</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Pushup.jpg">
      </ion-avatar>
      <h2>11 Push-ups from a bench</h2>
      <h3>3 sets and 20-30 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Riseon.jpg">
      </ion-avatar>
      <h2>12 Rise on tiptoes with dumbbells</h2>
      <h3>4 sets and 15-20 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Leg.jpg">
      </ion-avatar>
      <h2>13 Leg curve in sitting position</h2>
      <h3>3 sets and 10-12 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Hook.jpg">
      </ion-avatar>
      <h2>14 Hook crouch</h2>
      <h3>3 sets and 10-15 reps</h3>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Barbell.jpg">
      </ion-avatar>
      <h2>15 Barbell Squats</h2>
      <h3>3 sets and 10-15 reps</h3>
    </ion-item>
  </ion-list>
</ion-content>
