<ion-header>
  <ion-navbar color="primary">
    <ion-title >Weight Gain Food</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <!-- <ion-list no-padding>
    <ion-item *ngFor="let item of data" (click)="goWeightGainFoodDetails(item.link)">
      <ion-checkbox item-start [(ngModel)]="item.tick" style="padding: 0 10px 0 10px;"></ion-checkbox>
      <ion-avatar item-start>
        <img src="{{item.img}}">
      </ion-avatar>
      <ion-label>{{item.title}}</ion-label>
      <ion-label>{{item.description}}</ion-label>      
    </ion-item>

    <ion-card *ngFor="let item of data" no-padding>
      <ion-card-header no-padding>
        <ion-checkbox item-start [(ngModel)]="item.tick" style="padding: 10px 10px 0 10px;"></ion-checkbox>
        <span>{{item.title}}</span>
      </ion-card-header>
      <ion-card-content no-padding (click)="goWeightGainFoodDetails(item.link)">
        <ion-item no-lines no-padding style="padding-left: 10px;">
          <ion-avatar item-start>
            <img src="{{item.img}}">
          </ion-avatar>
          <ion-label>{{item.description}}</ion-label>
        </ion-item>
      </ion-card-content>
      </ion-card>
   

  </ion-list> -->
  <ion-grid>
    <ion-row *ngFor="let item of data" >
      <ion-col col-1><ion-checkbox item-start [(ngModel)]="item.tick" style="padding: 25px 10px 0 10px;"></ion-checkbox></ion-col>
      <ion-col col-11 (click)="goWeightGainFoodDetails(item.link)">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.img}}">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <h3>{{item.description}}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
