<ion-header>
  <ion-navbar color="primary">
    <ion-title>Growth Height</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img class="image" src="assets/imgs/increase-height-in-3-months.jpg">
  <ion-card class="list" (click)="goWorkoutList()">
      <ion-icon name="heart" class="heart"></ion-icon>
    <b>WORKOUT</b>
  </ion-card>
  <ion-card class="list" (click)="goFoodList()">
      <ion-icon name="heart" class="heart"></ion-icon>
    <b>FOOD</b>
 <!--    </ion-card>
  <ion-card class="list" (click)="goSuitList()">
      <ion-icon name="heart" class="heart"></ion-icon>
    <b>SUIT</b> -->
  </ion-card>
  <ion-card class="list" (click)="goNoticeList()">
    <ion-icon name="heart" class="heart"></ion-icon>
    <b>DO AND DON'T</b>
  </ion-card>
</ion-content>
