page-weight-gain {
    .list {
        height: 50px;
        padding: 12px;
    }

    .heart {
        color: #E73858;
        padding-right: 3px;
    }

    .image {
        height: 150px;
        margin-left: 35%;
    }
}
