<!--
  Generated template for the WeightLossZumbaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Weight Loss Zumba</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>    
   
	<h2>Zumba</h2>   
     <iframe width="100%" height="315" src="https://www.youtube.com/embed/HRkNfdlm5Qs" frameborder="0" allowfullscreen></iframe>
     
     <h2>30 Mins Aerobic Dance Workout l Aerobic Dance Workout For Beginners Step By Step l Full Body Workout</h2>
 	<iframe width="100%" height="315" src="https://www.youtube.com/embed/WE1WW4JCcZ8" frameborder="0" allowfullscreen></iframe>
     
     <h2>zumba Dora zero Xtreme</h2>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/A8SOEgt_pBk" frameborder="0" allowfullscreen></iframe>
     
<h2>ZUMBA fitness cardio workout full video</h2>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/GV2qtIOrMgs" frameborder="0" allowfullscreen></iframe>
     
<h2>10-minute workouts – Zumba Beginner’s Level</h2>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/9_MxwQw10RI" frameborder="0" allowfullscreen></iframe>
     
<h2>ZUMBA FOR BEGINNERS</h2>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/55Aip9V9P2g" frameborder="0" allowfullscreen></iframe>
     
<h2>Latin Dance Aerobic Workout</h2>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/y9raJrc-X9k" frameborder="0" allowfullscreen></iframe>
     
<h2>Zumba Dance Workout For Beginners Step By Step With Music l Zumba Dance New l Just New</h2>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/kDez5f4arcg" frameborder="0" allowfullscreen></iframe>
     
<h2>Fun Beginners Dance Workout For Weight Loss - At Home Cardio Exercise Dance Routine</h2>
 <iframe width="100%" height="315" src="https://www.youtube.com/embed/mR9td6t5mTc" frameborder="0" allowfullscreen></iframe>
     

</ion-content>
<!-- 

<ion-content overflow-scroll="true">
  <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="100%">
   <source src="./assets/vdos/Zumba_Dance_Workout_for_weight_loss.mp4" type="video/mp4" />
  </video>
</ion-content> -->