<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center;">
      Body Builder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="btn" style="background-color: #f53d3d !important;" (click)="goWeightGain()">
    <b>WEIGHT GAIN PLAN</b>
  </ion-card>
  <ion-card class="btn" style="background-color: #16c7db !important;" (click)="goWeightLoss()">
    <b>WEIGHT LOSS PLAN</b>
  </ion-card>
  <ion-card class="btn" style="background-color: #32db64 !important;" (click)="goGrowthHeight()">
    <b>GROWTH HEIGHT</b>
  </ion-card>
</ion-content>
