page-home {
    .request-button{
        height: 40%; 
        margin-top: 30%;
    }

    .btn{
        height: 110px;
        text-align: center;
        font-size: 2em;
        color: #ffffff;
        padding: 40px 0 0 0;
        margin: 25px 10px;
        b{
            // font-size: 0.7em;
            // display: block;
        }
    }

    ion-card{
        ion-icon{
            // font-size: 2.5em;
        }
    }
}
