<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gaining Weight Workout</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of data" (click)="goBenchPress(item.link)">
      <ion-avatar item-start>
        <img src="{{item.img}}">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <h3>{{item.description}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
