<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{data.title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.firstmeal}}
      </ion-card-title>
    <h3>
      {{data.breakfast}}
  	</h3>
  </ion-card-content>
</ion-card>

<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m1meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu1}}
    </h3>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      {{data.secondmeal}}
      </ion-card-title>
    <p>
      {{data.snack1}}
  	</p>
  </ion-card-content>
</ion-card>

<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m2meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu2}}
    </h3>
  </ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.thirdmeal}}
      </ion-card-title>
    <p>
      {{data.lunch}}
  	</p>
  </ion-card-content>
</ion-card>

<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m3meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu3}}
    </h3>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      {{data.fourthmeal}}
      </ion-card-title>
    <p>
      {{data.snack2}}
  	</p>
    <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
  </ion-card-content>
</ion-card>

<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m4meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu4}}
    </h3>
  </ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.fifthmeal}}
      </ion-card-title>
    <p>
      {{data.dinner}}
  	</p>
  </ion-card-content>
</ion-card>

<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m5meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu5}}
    </h3>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      {{data.sixthmeal}}
      </ion-card-title>
    <p>
      {{data.snack3}}
  	</p>
  </ion-card-content>
</ion-card>

<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m6meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu6}}
    </h3>
  </ion-card-content>
</ion-card>




</ion-content>
