<ion-header>
  <ion-navbar color="primary">
    <ion-title>weightlossworkout</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/Cardio.jpg">
    </ion-avatar>
    <h2>Cardio</h2>
    <h3>10-15 minutes</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/Hyperextension.jpg">
    </ion-avatar>
    <h2>1 Hyperextension</h2>
    <h3>12-15 reps</h3>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/Legraise.jpg">
    </ion-avatar>
    <h2>2 Leg raise on bars</h2>
    <h3>10-12 reps</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/4Quadriceps.jpg">
    </ion-avatar>
    <h2>4 Quadriceps, biceps, buttocks, legs curve</h2>
    <h3>12-15 reps</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/5Deltas.jpg">
    </ion-avatar>
    <h2>5 Deltas, a hammer shoulder press</h2>
    <h3>12-15 reps</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/7Dumbbell.jpg">
    </ion-avatar>
    <h2>7 Dumbbell Lunge</h2>
    <h3>10-15 reps</h3>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/8Triceps.jpg">
    </ion-avatar>
    <h2>Triceps the French bench press</h2>
    <h3>12-15 reps</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/12Cardio.jpg">
    </ion-avatar>
    <h2>12 Cardio</h2>
    <h3>3-8 minutes</h3>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/Cardio.jpg">
    </ion-avatar>
    <h2>15 Cardio</h2>
    <h3>10-15 minutes</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/14Pull.jpg">
    </ion-avatar>
    <h2>14 Pull over</h2>
    <h3>12-15 reps</h3>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/Leg.jpg">
    </ion-avatar>
    <h2>13 Leg curve in sitting position</h2>
    <h3>12-15 reps</h3>
  </ion-item>


  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/Hook.jpg">
    </ion-avatar>
    <h2>7 Hook crouch</h2>
    <h3>10-15 reps</h3>
  </ion-item>

</ion-content>
