<ion-header>

  <ion-navbar color="primary">
    <ion-title>Weight Loss Food</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!-- <ion-list>
    <ion-item *ngFor="let item of data" (click)="goWeightLossFoodDetails(item.link)">
      <ion-checkbox item-start [(ngModel)]="item.tick" style="padding: 10px 10px 0 10px;"></ion-checkbox>
      <ion-avatar item-start>
        <img src="{{item.img}}">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <h3>{{item.description}}</h3>
    </ion-item>
  </ion-list> -->
  <ion-grid>
    <ion-row *ngFor="let item of data" >
      <ion-col col-1><ion-checkbox item-start [(ngModel)]="item.tick" style="padding: 25px 10px 0 10px;"></ion-checkbox></ion-col>
      <ion-col col-11 (click)="goWeightLossFoodDetails(item.link)">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.img}}">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <h3>{{item.description}}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
