<ion-header>
  <ion-navbar color="primary">
    <ion-title>Growing Heigh Workout</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item *ngFor="let item of data" (click)="goGrowthHeightWorkoutDetails(item.link)">
    <ion-avatar item-start>
      <img src="{{item.img}}">
    </ion-avatar>
    <h2>{{item.title}}</h2>
    <h3>{{item.description}}</h3>
  </ion-item>
</ion-content>
