<ion-header>
  <ion-navbar color="primary" hideBackButton>
    <ion-title *ngIf="reason == 'weight-gain'">Weight Gain</ion-title>
    <ion-title *ngIf="reason == 'weight-loss'">Weight Loss</ion-title>
    <ion-title *ngIf="reason == 'growth-height'">Growth Height</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewDashboard()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="reason == 'weight-gain'">
    <img class="image" src="assets/imgs/wg.png">
    <ion-card class="list" (click)="goWorkoutList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>WORKOUT</b>
    </ion-card>
    <ion-card class="list" (click)="goFoodList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>FOOD</b>
    </ion-card>
    <ion-card class="list" (click)="goDoDontList('weight-gain')">
      <ion-icon name="heart" class="heart"></ion-icon>
      <b>DO AND DON'T</b>
    </ion-card>
  </div>

  <div *ngIf="reason == 'weight-loss'">
    <img class="image" src="assets/imgs/weigh_loss.png">
    <ion-card class="list" (click)="goWeightLossWorkoutList('weight-loss')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>WORKOUT</b>
    </ion-card>
    <ion-card class="list" (click)="goList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>ZUMBA</b>
    </ion-card>
    <ion-card class="list" (click)="goList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>FOOD</b>
    </ion-card>
    <ion-card class="list" (click)="goList('weight-gain')">
      <ion-icon name="heart" class="heart"></ion-icon>
      <b>DO AND DON'T</b>
    </ion-card>
  </div>

  <div *ngIf="reason == 'growth-height'">
    <img class="image" src="assets/imgs/weigh_loss.png"style="align-items: center">
    <ion-card class="list" (click)="goList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>WORKOUT</b>
    </ion-card>
    <ion-card class="list" (click)="goList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>FOOD</b>
      </ion-card>
    <ion-card class="list" (click)="goList('weight-gain')">
        <ion-icon name="heart" class="heart"></ion-icon>
      <b>suit</b>
    </ion-card>
    <ion-card class="list" (click)="goList('growth-height')">
      <ion-icon name="heart" class="heart"></ion-icon>
      <b>DO AND DON'T</b>
    </ion-card>
  </div>
</ion-content>
