page-home-list {
   // .list {
    //    height: 50px;
   //     padding: 12px;
   // }

    .heart {
        color: #E73858;
        padding-right: 3px;
    }

    .image {
        height: 150px;
        margin-left: 35%;
    }


.image {
ion-content img {
height: 70vh !important;
width: auto !important;
align-items: center;
}
}
}
