<ion-header>

  <ion-navbar>
    <ion-title>{{data.title}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <!-- <img src="{{data.img}}"> -->
<ion-slides>
  <ion-slide>
    <h1><img src="{{data.img}}"></h1>
  </ion-slide>
  <ion-slide>
    <h1><img src="{{data.secimg}}"></h1>
  </ion-slide>
  
</ion-slides>




  <h1>{{data.title}}</h1>
  <h3>{{data.description}}</h3>
</ion-content>
