<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{data.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.firstmeal}}
      </ion-card-title>
    <h3>
      {{data.menu1}}
  	</h3>
  </ion-card-content>

<!-- <ion-list reorder="true">
  <ion-item>{{data.firstmeal}}</ion-item>
  <ion-item>{{data.menu1}}</ion-item>
</ion-list> -->


</ion-card>


<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m1meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu1}}
    </h3>
  </ion-card-content>
</ion-card>


<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.secondmeal}}
      </ion-card-title>
    <p>
      {{data.menu2}}
    </p>
  </ion-card-content>
</ion-card>


<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m2meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu2}}
    </h3>
  </ion-card-content>
</ion-card>



<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.thirdmeal}}
      </ion-card-title>
    <p>
      {{data.menu3}}
  	</p>
  </ion-card-content>
</ion-card>



<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m3meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu3}}
    </h3>
  </ion-card-content>
</ion-card>


<ion-card color="secondary">
  <ion-card-content>
    <ion-card-title>
      {{data.fifthmeal}}
      </ion-card-title>
    <p>
      {{data.menu5}}
  	</p>
  </ion-card-content>
</ion-card>


<ion-card color="myan">
  <ion-card-content>
    <ion-card-title>
      {{data.m4meal}}
      </ion-card-title>
    <h3>
      {{data.mmenu4}}
    </h3>
  </ion-card-content>
</ion-card>


  
</ion-content>
